<form [formGroup]="loginForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Usuario</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="usuario">
      
        <div  *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)" class="text-danger">
            <div *ngIf="usuario.errors?.['required']">Nombre de usuario es requerido.</div>
        </div>
    
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">

      <div  *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
        <div *ngIf="password.errors?.['required']">La contraseña es requerida.</div>
    </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="login()">Iniciar Sesión</button>
</form>